# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
/.idea
/aws.xml
/codeStyles/codeStyleConfig.xml
/exercise-terrraform.iml
/misc.xml
/modules.xml
/codeStyles/Project.xml
/vcs.xml
